<img src="{{ image }}" />

<h2>Safe Search Results</h2>
<ul>
  {% for key, value in safe_search %}
    <li><strong>{{ key }}</strong>: <em>{{ value }}</em></li>
  {% endfor %}
</ul>

{% if faces is not empty %}
  <h2>Faces</h2>
  <ol>
    {% for face_props in faces %}
      <li>{{ face_props|join(', ') }}</li>
    {% endfor %}
  </ol>
{% endif %}

<h2>Labels</h2>
<ul>
  {% for label in labels %}
    <li>{{ label }}</li>
  {% endfor %}
</ul>
