/* Hide the "X of Y images" message. */
.visionapi-dashboard #cboxCurrent {
  display: none !important;
}
/* Remove the space created for the "X of Y images" message. */
.visionapi-dashboard #cboxContent {
  margin-top: 0;
}
/* Move the buttons to the right, and spiff them up. */
.visionapi-dashboard #cboxTitle {
  top: 10px;
  left: unset;
  right: 40px;
  padding: 10px;
  background: rgba(0,0,0, 0.666);
  border-radius: 10px;
}
/* Hide the white bar at the bottom. */
.visionapi-dashboard .visionapi-colorbox {
  background: black;
}

/* Make "Operations" text bold. */
.visionapi-buttons {
  font-weight: 400;
}

/* Use color and other styling to provide button/result context. */
.visionapi-published {
  color: #009688;
  text-transform: uppercase;
}
.visionapi-reject {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 15px;
}
.visionapi-reject,
.visionapi-rejected {
  color: rgb(229, 57, 53);
  text-transform: uppercase;
}

/* Non-dashboard styling. */
#edit-moderation-wrapper {
  display: none;
}
